* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background-color: rgb(184, 41, 124);
}

.navBar {
  width: 100%;
  padding: 18px;
  display: flex;
  flex-direction: row;
  gap: 40%;
  border-bottom: 1px solid rgb(0, 0, 0);
  color: black;
}

i {
  font-size: 24px;
}

.navbarRightDiv {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.europeMainDiv {
  margin: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}

.europeImage {
  width: 100%;
}

.europeDatialsDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.CountryListMainDiv {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.CountryListTitle {
  align-self: center;
}

.CountryList {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.one-country {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  text-decoration: none;
  color: white;
}

.flag {
  height: 30vh;
  width: 50vh;
}

@media only screen and (max-width: 500px) {
  .CountryList {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-items: center;
  }
}